@import '../SCSS/variables.scss';

/* Общий */
body {
    font-family: "Jost", serif;
    margin: 0 auto;
    max-width: 1250px;
    font-size: 16px;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

input {
    outline: none;
}

h1, h2, h3 {
    font-weight: 400;
}
