.filter {
  background-color: $pink;
  border-radius: 10px;
  padding: 0 15px;
  height: 100%;

  &-list {
    padding-left: 15px;

    li {
      list-style: none;
      transition: $transition;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;
      width: fit-content;

      &:hover {
        opacity: 0.5;
      }

      svg.down {
        transform: rotate(180deg);
      }
    }
  }
}