.filter {
  background-color: $pink;
  border-radius: 10px;
  padding: 0 15px;
  padding-bottom: 30px;
  height: 100%;

  &-list {
    padding-left: 15px;
    max-height: 70px;
    overflow: hidden;
    transition: max-height 0.5s ease;

    li {
      list-style: none;
      transition: $transition;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;
      width: fit-content;

      &:hover {
        opacity: 0.5;
      }

      svg.down {
        transform: rotate(180deg);
      }
    }
  }
  &-sorting {
    
    &.show-all {

      .filter-list {
        max-height: 2100px;
      }
      
    }
  }
  .spinner {
    border: 4px solid #fff;
  }
}