.sorting {
  display: flex;
  gap: 15px;

  &-btn {
    border-radius: 5px;
    background-color: $pink;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    cursor: pointer;

    svg {
      fill: $black;
      transition: $transition;
    }

    &:hover {

      svg {
        opacity: 0.5;
      }
    }
  }
}