.show-hide-btn {
  border-radius: 100px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #fff;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.5s ease;
  
  &:hover {
    background-color: #fff;
  }
}